<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.mapper.EventMapper">

    <select id="getParticipantByPhone" parameterType="string" resultType="com.byd.vo.ParticipantVO">
        SELECT * FROM event_participant WHERE phone = #{phone} LIMIT 1
    </select>

    <select id="getParticipantByPhoneToday" parameterType="string" resultType="com.byd.vo.ParticipantVO">
        SELECT * FROM event_participant
        WHERE phone = #{phone}
          AND DATE(reg_date) = CURDATE()
        LIMIT 1
    </select>

    <select id="getDriveTimeCountToday" resultType="java.util.LinkedHashMap">
        SELECT test_drive_time AS testDriveTime, COUNT(*) AS cnt
        FROM event_participant
        WHERE DATE(reg_date) = CURDATE()
          AND test_drive_time != '시승 미신청'
        GROUP BY test_drive_time
    </select>

    <select id="getParticipantBySeq" parameterType="int" resultType="com.byd.vo.ParticipantVO">
        SELECT * FROM event_participant WHERE seq = #{seq}
    </select>

    <insert id="insertParticipant" parameterType="com.byd.vo.ParticipantVO" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO event_participant (
            entry_type, name, phone, email, shop_info, car_model, test_drive_time, qr_code_url,
            privacy_agree, third_party_agree, entrust_agree, mkt_agree, challenge_check_yn, drive_check_yn, gift_check_yn, reg_date
        ) VALUES (
                     #{entryType}, #{name}, #{phone}, #{email}, #{shopInfo}, #{carModel}, #{testDriveTime}, #{qrCodeUrl},
                     #{privacyAgree}, #{thirdPartyAgree}, #{entrustAgree}, #{mktAgree}, 'N', 'N', 'N', NOW()
                 )
    </insert>

    <select id="getDriveTimeCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM event_participant
        WHERE DATE(reg_date) = CURDATE()
          AND test_drive_time = #{testDriveTime}
    </select>

    <update id="updateParticipant">
        UPDATE event_participant
        <set>
            email = #{vo.email},
            shop_info = #{vo.shopInfo},
            car_model = #{vo.carModel},
            test_drive_time = #{vo.testDriveTime},
            mkt_agree = #{vo.mktAgree},
            <if test="updateRegDate == true">
                reg_date = NOW()
            </if>
        </set>
        WHERE seq = #{vo.seq}
    </update>

    <select id="checkTestDriveHistory" resultType="int">
        SELECT COUNT(*)
        FROM event_participant
        WHERE phone = #{phone}
        AND test_drive_time != '시승 미신청'
        <if test="seq != null and seq > 0">
            AND seq != #{seq}
        </if>
    </select>

</mapper>