<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.mapper.MaterialMapper">

    <select id="getCategoryList" resultType="string">
        SELECT DISTINCT category FROM material_master
        WHERE category IS NOT NULL AND category != ''
        ORDER BY category
    </select>

    <select id="getMaterialList" resultType="com.byd.vo.MaterialVO">
        SELECT m.*,
        (SELECT IFNULL(SUM(change_qty), 0)
        FROM material_history
        WHERE material_seq = m.seq
        AND change_type = 'OUT'
        AND DATE(reg_date) = IFNULL(#{searchDate}, CURDATE())
        ) AS todayOutQty
        FROM material_master m
        <where>
            <if test="category != null and category != ''">
                AND m.category = #{category}
            </if>
            <if test="keyword != null and keyword != ''">
                AND m.material_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="stockStatus == 'SAFE'">
                AND m.init_qty > 0 AND (m.total_qty / m.init_qty) > 0.5
            </if>
            <if test="stockStatus == 'WARN'">
                AND m.init_qty > 0 AND (m.total_qty / m.init_qty) > 0.2 AND (m.total_qty / m.init_qty) &lt;= 0.5
            </if>
            <if test="stockStatus == 'DANGER'">
                AND m.init_qty > 0 AND (m.total_qty / m.init_qty) &lt;= 0.2
            </if>
        </where>
        ORDER BY m.seq DESC
    </select>

    <select id="getMaterialBySeq" resultType="com.byd.vo.MaterialVO">
        SELECT * FROM material_master WHERE seq = #{seq}
    </select>

    <insert id="insertMaterial" parameterType="com.byd.vo.MaterialVO">
        INSERT INTO material_master (category, material_name, init_qty, total_qty, memo)
        VALUES (#{category}, #{materialName}, #{initQty}, #{initQty}, #{memo})
    </insert>

    <update id="updateMaterialQty">
        UPDATE material_master
        SET total_qty = total_qty + #{qtyModifier}
        WHERE seq = #{seq}
    </update>

    <insert id="insertHistory" parameterType="com.byd.vo.MaterialHistoryVO">
        INSERT INTO material_history (material_seq, change_type, change_qty, admin_id, reason, reg_date)
        VALUES (#{materialSeq}, #{changeType}, #{changeQty}, #{adminId}, #{reason}, NOW())
    </insert>

    <select id="getHistoryList" resultType="com.byd.vo.MaterialHistoryVO">
        SELECT * FROM material_history
        WHERE material_seq = #{materialSeq}
        ORDER BY history_seq DESC
    </select>

    <delete id="deleteMaterial">
        DELETE FROM material_master WHERE seq = #{seq}
    </delete>

    <delete id="deleteHistoryByMaterialSeq">
        DELETE FROM material_history WHERE material_seq = #{materialSeq}
    </delete>

    <update id="updateMaterial" parameterType="com.byd.vo.MaterialVO">
        UPDATE material_master
        SET category = #{category},
            material_name = #{materialName},
            total_qty = total_qty + (#{initQty} - init_qty),
            init_qty = #{initQty},
            memo = #{memo}
        WHERE seq = #{seq}
    </update>

</mapper>